body {
    background-color: #f0f8ff;
    color: #333333;
    font-family: 'Arial',sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 400px;
    border: 5px solid #4fc3f7;
    border-radius: 15px;
}

h1 {
    font-size: 42px;
    text-align: center;
    color: white;
    margin: 0px;
}

header {
    background-color: #4fc3f7;
    border-bottom: 5px solid orange;
    padding: 30px;
    text-align: center;
}

nav {
    background-color: #e3f2fd;
    text-align: center;
    padding: 15px;
    margin: 20px;
}

h2 {
    color: #01579b;
    font-size: 28px;
    text-align: center;
    border-bottom: 3px solid orange;

}

footer {
    background-color: #4fc3f7;
    border-top: 5px solid orange;
    padding: 25px;
    margin-top: 50px;
}

footer p {
    text-align: center;
    color: white;
}

a {
    color: royalblue;
    margin: 0px 15px;
    padding: 10px 20px;
}

header p {
    text-align: center;
    color: white
}

table {
    border: 3px solid #4fc3f7;
    width: 100%;
    margin: 20px 0px;
}

table, td {
    border: 1px solid #4fc3f7;
    border-collapse: collapse;
    text-align: center;
    background-color: #e3f2fd;
    padding: 12px;
}

a {
    text-decoration: none;
}

nav a:hover {
    background-color: #4fc3f7;
    color: #01579b;
    border-radius: 25px;
}

.content {
    display: flex;
    margin: 20px;
}

div {
    background-color: white;
    margin: 20px;
    border-radius: 15px;
    padding: 25px;
    border: 2px solid #e3f2fd;
}
